@font-face {
    font-family: "futura";
    src: url(./fonts/Futura-Bold.ttf);
}

@font-face {
    font-family: "socialmono";
    src: url(./fonts/ABCSocialMono-Regular.ttf);
}

@font-face {
    font-family: "helvetica";
    src: url(./fonts/HelveticaNowText-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #fff;
    --black: #000;
    --grey: #F7F7F7;
    ---blurgrey: #AEAEAE;

}

*::selection{
    color: var(--white);
    background-color: var(--black);
}

html, body{
    width: 100%;
    height: 100%;
}

#cursor{
    width: 150px;
    height: 150px;
    background-color: rgb(156, 151, 151);
    opacity: 0.2;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0);
}

#nav{
    width: 100%;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    z-index: 100;
}

#navleft{
    height: 82px;
}

#navleft svg{
    display: block;
}

#navright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#links a{
    font-family: "socialmono";
    text-decoration: none;
    color: var(--black);
    font-size: 1.1vw;
}

#links a:hover{
    color: var(---black);
    opacity: 0.7;
}

#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    color: var(--black);
    font-size: 1.1vw;
    cursor: pointer;
    border-radius: 30px;
    padding: 0.8vw 1vw;
    background-color: var(--grey);
}

#icons i:nth-child(2):hover{
    rotate: -8deg;
    transition: all ease 0.3s;
}

#main{
    width: 100%;
    background-color: var(--grey);
}

#hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 16vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

#hero h1{
    font-family: "futura";
    font-size: 16vw;
    text-transform: uppercase;
    width: fit-content;
    line-height: 13.8vw;
    letter-spacing: -10px;
}

#imagecontainer{
    width: 100%;
    padding: 2vw 0.8vw;
    margin-top: 1.5vw;
    overflow: hidden;
}

#imagecontainer img{
    width: 100%;
    object-fit: cover;
}

#shop{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10vw 0.5vw;
}

#shopheadings{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shopheadings h1{
    font-family: "futura";
    font-size: 4vw;
    letter-spacing: -2px;
    padding-bottom: 2vw;
}

#shopheadings a{
    font-family: "socialmono";
    width: fit-content;
    display: flex;
    text-decoration: none;
    color: var(--black);
    opacity: 0.9;
    font-size: 0.9vw;
    font-weight: 500;
    border-bottom: 1px solid var(--black);
    padding-bottom: 0.1vw;
}

#lines{
    padding: 5vw 2vw 0.1vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lines h5{
    font-family: "helvetica";
    color: var(--black);
    opacity: 0.9;
    font-size: 0.9vw;
    font-weight: 500;
}

hr{
    margin: 0 2vw;
}

#shoproducts{
    width: 100%;
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shoproducts #elem{
    width: 32.3%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shoproducts #elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
}

#elem #categories{
    width: 290px;
    height: 50px;
    border-radius: 30px;
    background-color: #F5DFCF;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    font-size: 18.5px;
    cursor: pointer;
}

#elem #categories h6:nth-child(2){
    opacity: 0.7;
}

#elem #categories h6:nth-child(3){
    opacity: 0.9;
}

#support{
    width: 100%;
    padding: 4vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#support #supportleft{
    width:fit-content;
}

#support #supportleft p{
    font-family: "futura";
    font-size: 4vw;
    letter-spacing: -2px;
    padding-bottom: 2vw;
    line-height: 3.8vw;
}

#support #supportright{
    width: 32.2%;
    padding-right: 8.3vw;
    padding-top: 7.8vw;
}

#support #supportright p{
    line-height: 1.8vw;
    padding-bottom: 1vw;
}

#shopsupport{
    margin-top: 2vw;
}

#support #shopsupport a{
    font-family: "socialmono";
    width: fit-content;
    display: flex;
    text-decoration: none;
    color: var(--black);
    opacity: 0.9;
    font-size: 1vw;
    font-weight: 500;
    border-bottom: 1px solid var(--black);
    padding-bottom: 0.1vw;
}

#products{
    width: 100%;
    min-height: 120vh;
    padding: 0 0.8vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -4vw;
}

#products #items{
    width: 45%;
    height: 70vh;
    margin-bottom: 10vw;
}

#products #items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

#items #details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#items #details h5{
    font-family: "helvetica";
    color: var(--black);
    opacity: 0.9;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 2vw;
    padding-top: 3vw;
}

#items #details h6{
    font-family: "helvetica";
    color: var(--black);
    opacity: 0.9;
    font-size: 0.9vw;
    font-weight: 500;
}

#messages{
    width: 100%;
    min-height: 100vh;
}

#messages #sendmsg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 0;
}

#sendmsg h1{
    font-family: "futura";
    text-align: center;
    padding: 0 8vw 4vw 8vw;
    font-size: 5.5vw;
    letter-spacing: -4px;
    line-height: 5vw;
}

#sendmsg button{
    font-family: "helvetica";
    background-color: var(--black);
    color: var(--white);
    border-radius: 30px;
    border-style: none;
    padding: 1.5vw 5.2vw;
    font-size: 0.9vw;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.3s;
}

#sendmsg button:hover{
    color: var(---blurgrey);
}

#sendmsg h5{
    font-family: "helvetica";
    padding-top: 2vw;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.4vw;
}

/* media queries for responsiveness */
@media (max-width:600px) {
    #hero{
        min-height: 65vh;
        padding-top: 30vw;
        padding-bottom: 5vw;
    }
    
    #hero h1{
        font-size: 16vw;;
        letter-spacing: -3px;
    }

    #shop{
        min-height: 100vh;
    }
    
    #shopheadings h1{
        font-size: 10vw;
        text-align: center;
    }
    
    #shopheadings a{
        width: 40%;
        font-size: 3.2vw;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid var(--black);
        padding-top: 10vw;
        padding-bottom: 1.5vw;
    }
    
    #lines h5{
        padding-top: 4vw;
        font-size: 2.6vw;
    }
    
    #shoproducts{
        padding: 2vw 2vw;
        flex-direction: column;
        min-height: 100vh;
    }
    
    #shoproducts #elem{
        width: 100%;
        margin: 2vw;
    }
    
    #support{
        flex-direction: column;
    }

    #support #supportleft p{
        padding-top: 5vw;
        font-size: 7vw;
        letter-spacing: 0;
        line-height: 7vw;
        text-align: center;
    }

    #support #supportright{
        width: 100%;
        padding: 4vw 3vw;
    }

    #support #supportright p{
        text-align: center;
        line-height: 6vw;
        padding-bottom: 1.5vw;
    }

    #shopsupport{
        margin-top: 5vw;
        display: flex;
        justify-content: center;
    }

    #support #shopsupport a{
        font-size: 4vw;
    }

    #products{
        flex-direction: column;
    }
    
    #products #items{
        width: 100%;
        height: 60vh;
    }
    
    #items #details h5{
        font-size: 3vw;
        line-height: 4vw;
    }
    
    #items #details h6{
        font-size: 3vw;
    }

    #messages{
        width: 100%;
        min-height: 100vh;
    }
    
    #sendmsg h1{
        font-size: 6vw;
        letter-spacing: -1px;
        line-height: 8vw;
        padding-bottom: 8vw;
    }
    
    #sendmsg button{
        padding: 7vw 10vw;
        font-size: 3vw;
    }

    #sendmsg h5{
        padding-top: 5vw;
        font-size: 3.2vw;
        line-height: 3vw;
    }
}